
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
    background-color: coral;
    font-family:Koulen;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: black
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 200ms;
}

.selection:hover {
    transform: scale(1.3);
}

.results {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: 0.2rem;
    font-size: 2rem;
    color: white;
}

.result-selection {
    opacity: 0.5;
    font-size: 2rem;
}

.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}

