@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


body {
    font-family:Koulen;
    background-color: coral;
}

#header {
    font-size: 50px;
    height: 200px;
}

#scores {
    font-size: 80px;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: black
}

#game-choices {
 display: flex;
 justify-content: space-evenly;
}

img {
    height: 250px;
    width: 250px;
}

button {
    cursor: pointer;
}

#result-container {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}

#result { 
    font-size: 50px;
}

#rules {
    padding: 50px 0 70px 0;
    font-size: 20px;
}